@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #222738;
  color: #6e7888;
  text-align: center;
}

.title {
  font-size: 3.2rem;
  font-weight: 600;
  margin: 1rem 0;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  margin-bottom: 1rem;
}

.btn {
  background-color: #6e7888;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;

  transition: 0.3s;
  &:hover {
    background-color: #4cffd7;
    box-shadow: 0px 0px 10px rgba(76, 255, 215, 0.3);
  }

  &:active {
    background-color: #26806c;
  }
}

.score,
.highscore {
  font-size: 1.4rem;

  & span {
    font-weight: 700;
  }
}

#difficulty {
  padding: 1rem 0;
}

.pause {
  background-color: #ff2600;

  &:hover {
    background-color: #ff5133;
    box-shadow: 0 0 10px #ff5133;
  }
}
